<div class="bod">
    <div class="texto">
        <div class="texto-inicio">
            <div class="overlay">
                <div class="texto-1">
                    <h1>Universidad continental</h1>
                    <p>En la Universidad Continental no solo recibirás una formación 
                        académica con altos estándares de calidad; también desarrollarás 
                        tus habilidades y talentos gracias a los programas y actividades 
                        extracurriculares que tenemos para ti.</p>
                </div>
                <div class="texto-1">
                    <h1>Nuestros Campus</h1>
                    <p>Nuestros campus están especialmente diseñados para contribuir
                         al trabajo académico e impulsar
                         iniciativas emprendedoras. Los espacios
                         están implementados con tecnología necesaria, laboratorios y FabLab.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="lista-sedes">
        <div class="img-sedes" *ngFor="let sede of sedes" (click)="verCarreraSede(sede)" >
            <img class="imagenes" [src]="sede.imagen_sede" alt="{{sede.nombre_sede}}" />
            
                <p>{{sede.nombre_sede}}</p>
            
        </div>
    </div>
    <div class="mas-opciones">
        <div class="solicitar-informacion">
            <div>
                <h2>Solicitar informacion</h2>
                <p>Te gusto alguno de nuestros programas??</p>
                <p>Haga clic <a href="https://www.ejemplo.com">aquí</a>.</p>
            </div>
        </div>
        <div class="talleres-extra">
            <div>
                <h2>Talleres extracurriculares</h2>
                <p>Deseas saber mas de nuestros talleres??</p>
                <p>Haga clic <a href="https://estudiantes.ucontinental.edu.pe/matricula/actividades-extracurriculares/" target="_blank">aquí</a>.</p>
            </div>
        </div>
        <div class="malla-curricular">
            <div>
                <h2>Malla curricular</h2>
                <p>Deseas conocer mejor tu malla curricular?</p>
                <p>Haga clic <a href="https://ucontinental.edu.pe/mallas-curriculares/" target="_blank">aquí</a>.</p>
            </div>
        </div>
    </div>
</div>


<app-califacion></app-califacion>