.pagina-sede{
    display: flex;
}
.sede{
    display: flex;
    justify-content: center;
    align-items: center;

    background: linear-gradient(180deg, #7a7a7a,#e6e2e2);
    width: 35%;
    border-right-style: solid;
    border-color: #47007f;
}
.sede img{
    border-radius: 15px;
    width: 90%;
    margin-left: 25px;
    height: auto;

}
.sede p{
    margin-top: auto;
}
.carrera{

    display: flex;
    width: 65%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
.img-carrera{

    justify-content: center;
    align-items: center;
/*     height: 50px; 
    width: 40%;   */
    margin-left: 5%;
    margin-right: 5%;
    color: #000000;
    margin-top: 10px;

/*     display: flex;
    flex-wrap: wrap;

    margin-left: 2%;
    margin-right: 2%;
    color: #e4dbdb;    
    max-width: 50px; */
}
.img-carrera img{


    height: 150px; 
    width: auto;  
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    position: relative;
}

.img-carrera p{
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #000000;
    font-weight: bold;
    font-size: 14px;
}
.sede p{
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #000000;
    font-weight: bold;
    font-size: 25px;
}